<div class="container">
    
    <div class="row pb">
        <h2>OSGi Component Initializer</h2>
    </div>

    <div class="row">
        <h3>XML data</h3>
    </div>

    <div class="row">
        <form {{on "submit" this.submit}}>
            <label for="portletXML">portlet.xml</label>
            <Textarea id="portletXML" @value={{this.portletConfig}} />
            <label for="liferayPortletXML">liferay-portlet.xml</label>
            <Textarea id="liferayPortletXML" @value={{this.liferayPortletConfig}} />
            <button type="submit" class="button">Generate properties</button>
        </form>
    </div>

    <div class="row">
        <h3>Generated OSGi properties</h3>
    </div>
    <div class="row">
<pre style="font-family: monospace;">
@Component(
    immediate = true,
    property = {
        {{#each this.osgiValues as |osgiProperty|}}
            {{osgiProperty}},
        {{/each}}            
    },
    service = Portlet.class
)
</pre>
    </div>
    <div class="row">
        <h3>Raw</h3>
    </div>
    <div class="row">
        <pre>{{this.osgiProperties.raw}}</pre>
    </div>
</div>